//
// blog.scss
//
.blog-post {
    transition: all 0.2s ease;
    .content {
        .title {
            letter-spacing: 0.5px;
            font-weight: 500;
            transition: all 0.5s ease;
            &:hover {
                color: $custom !important;
            }
        }
    }
    &:hover {
        transform: translateY(-7px);
        box-sizing: $shadow;
    }
}