<html>
    <main>
        <h2>CADASTRO DE CURSOS</h2>
        <form>
            <div>
                <label for = "name">NOME DO CURSO</label>
                <input name = "name" id = "name" Type = "text">
            </div>
            <div>
                <input type = "submit" value = "cadastrar curso">
                <input type = "reset" value = "cancelar">
            </div>
            <div>
                <input type = "submit" value = "cadastrar curso">
                <input type = "reset" value = "cancelar">
            </div>
        </form>
        
    </main>
</html>