<!DOCTYPE html>
<html>
    <head>
        <title>Página de contato </title>
    </head>
    <body>
        <h1>Contato</h1>
        <p>e-mail</p>
        <p>telefone</p>
        <p>WhatsApp</p>
    </body>
</html>