<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="stylesheets/login.css" rel="stylesheet" type="text/css" />
<div class="wrapper fadeInDown">
  <div id="formContent">
    
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="images/devollution.png" alt="some text" width=210 height=60 id="icon">
    </div><br>
    <div id="background-content" class="background-content">
    <!-- Login Form -->
    <form method="POST">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuário">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="senha" >
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a senha?</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      <a class="underlineHover" href="/">Voltar para Home</a>
      <a class="underlineHover" href="/">Cadastrar</a>
    </div>

  </div>
</div>
</div>
</html>